* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* layout*/
:root {
  --jump-width: 15%;
  --header-height: 120px;
}

/* left jump menu */
#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;

  width: var(--jump-width);
  height: 100vh;

  background-color: #d3a01d;
  padding: 20px 14px;           /*self note: inital size issue */
}



#jumpMenu h2 {
  margin: 0 0 20px 0;
  font-size: 32px;
}

#jumpMenu a {
  display: block;
  margin: 10px 0;            /* self note: article link spacing was due to this margin being too high   */

  font-size: 20px;
  color: blue;
  text-decoration: underline;
}

/* main content */
main {
  margin-left: var(--jump-width);
  padding-top: var(--header-height);
  padding-left: 40px;
  padding-right: 40px;
}

/* header */
main > header {
  position: fixed;
  top: 0;
  left: var(--jump-width);
  width: calc(100% - var(--jump-width));
  height: var(--header-height);

  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Red title bar */
main > header > p {
  margin: 0;
  height: 70px;

  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;

}

/* navigation buttons */
main > header > nav {
  height: 50px;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

main > header button {
  width: 240px;
  height: 36px;

  background-color: blue;
  color: white;
  border: 1px solid black;
  font-size: 20px;
}

/* page title*/
main > h1 {
  text-align: center;
  font-size: 54px;
  margin: 30px 0;
}

/*journal articles layout*/
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  padding-bottom: 120px;
}

#container article {
  width: 300px;
}

#container article h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

#container article p {
  font-size: 18px;
  line-height: 1.4;
}

#container article a {
  color: blue;
  text-decoration: underline;
}

/* thank you box */ 

#thanks {
  position: fixed;
  right: 5px;
  bottom: -25px;    /* negative value to get all way to bottom right*/

  background-color: #8ecbff;
  border: 2px solid black;
  padding: 16px 22px;           /* size*/

  font-size: 32px;  
  font-weight: bold;
}

/* footer*/
footer {
  margin-top: 40px;
}

footer p {
  font-size: 22px;
  font-weight: bold;
}
